# Example usecase: expose your services on specific local ports.
services:
  server:
    ports:
      - "127.0.0.1:8000:8000"
{% if include_database %}

  db:
    ports:
      - "127.0.0.1:5432:5432"
{% endif %}
{% if include_redis %}

  redis:
    ports:
      - "127.0.0.1:6379:6379"
{% endif %}
