{{- $rules := .Files.Glob (printf "prometheus-rules{,/%s,/%s-%[1]s,/%[2]s}/*.yaml" .Values.global.holodeck.environment.stage .Values.global.holodeck.environment.region) }}
{{- if $rules }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "holodeck-service.labels" . | nindent 4 }}
spec:
  groups:
{{- range $path, $fileContents := $rules }}
{{- $group := regexReplaceAll "^prometheus-rules/(.*)\\.yaml" $path "${1}" }}
    - name: {{ $group }}
      rules:
        {{ $.Files.Get $path | nindent 8 }}
{{- end }}
{{- end }}
